Contact
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#form_1">Information</a>
  </li>
  <li ><a href="#form_2">Query</a></li>
  <li ><a href="#form_3">Confirmation</a></li>
</ul>



  <form id="form_1">
    <div class="form-group">
      <label for="FirstName">First Name</label>
      <input type="text" class="form-control" id="FirstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="LastName">Last Name</label>
      <input type="text" class="form-control" id="LastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="phone" class="form-control" id="phone" placeholder="Phone">
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </form>



  <form id="form_2">
    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="Content">content</label>
      <textarea class="form-control" rows="5" id="Content" placeholder="Content of the query should go here"></textarea>
    </div>
    <div class="form-group">
      <label for="Category">Email:</label>
      <input type="email" class="form-control" id="Category">
    </div>
 
    <button type="submit" class="btn btn-default">Next</button>
  </form>



