<p>Welcome to dashboard application.This application guide will introduce 
you to things that you can do while staying here. All the sections 
mentioned below can be accessed from the navigation menu on the left side.</p>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#work">Work Section</button>
<div id="work" class="collapse">
This section contains the demonstration for the final products that has 
been produced in the market
</div>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#producer">Producer Section</button>
<div id="producer" class="collapse">
This section contains information about the creator of all the works and how to
get in touch with them
</div>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#contact">Contact Section</button>
<div id="contact" class="collapse">
This section provides a gateway for users to voice out opinions regarding the 
application and any other questions or concerns that one might have
</div>