<div id="producer_body" ng-controller="producerCtrl">
    <div id="producer_header">
            <ul>
                <li ui-sref-active="active"><a ui-sref="root.producer.cynthia"><span class="glyphicon glyphicon-cloud"></span><span>Cynthia</span></a></li>
                <li ui-sref-active="active"><a ui-sref="root.producer.kun"><span class="glyphicon glyphicon-tags"></span><span>Kun</span></a></li>
                <li ui-sref-active="active"><a ui-sref="root.producer.cj"><span class="glyphicon glyphicon-tint"></span><span>CJ</span></a></li>
            </ul>
    </div>
    <div id="producer_content">
        <div ui-view></div>
    </div>
</div>
</div>
