<div id="main_body">
    <div id="root_header" ng-controller="logoutCtrl">
        <div id="logo">
            <img src="../assets/images/src/app/logo.png">
        </div>
        <div id="userinfo">
            <p> {{user}} {{date | date:'MMM dd, y'}}</p>
        </div>
        <div id="logout">
            <button class="btn btn-default" ng-click="logout()"><b>Log Out</b></button>
        </div>
    </div>
    <div>
        <div id="root_siderbar">
            <ul>
                <li ui-sref-active="active"><a ui-sref="root.overview" ><span class="glyphicon glyphicon-cloud"></span><span>Overview</span></a></li>
                <li ui-sref-active="active"><a ui-sref="root.work"><span class="glyphicon glyphicon-tags"></span><span>Work</span></a></li>
                <li ui-sref-active="active"><a ui-sref="root.producer" ><span class="glyphicon glyphicon-tint"></span><span>Producer</span></a></li>
                <li ui-sref-active="active"><a ui-sref="root.contact" ><span class="glyphicon glyphicon-th-large"></span><span>Contact</span></a></li>
            </ul>
        </div>
        <div id="root_content">
            <div ui-view></div>
        </div>
    </div>
</div>
