<div id="root_header" ng-controller="logoutCtrl">
    <div id="logo">
        <img src="../assets/images/app/logo.png">
    </div>

    <div id="userinfo" >
        <p> {{user}} {{date | date:'MMM dd, y'}}</p>
    </div>

    <div id="logout">
        <button class="btn btn-default" ng-click="logout()" ><b>Log Out</b></button>
    </div>
</div>
<div>

    <div id="root_siderbar">
        <ul>

            <li><a ui-sref="root.overview" ui-sref-active="active"><span class="glyphicon glyphicon-cloud"></span> Overview</a></li>
            <li><a ui-sref="root.work" ui-sref-active="active"><span class="glyphicon glyphicon-tags"></span> Work</a></li>
            <li><a ui-sref="root.producer" ui-sref-active="active"><span class="glyphicon glyphicon-tint"></span> Producer</a></li>
            <li><a ui-sref="root.contact" ui-sref-active="active"><span class="glyphicon glyphicon-th-large"></span> Contact</a></li>

        </ul>
    </div>
    <div id="root_content">
        <div ui-view></div>
    </div>

</div>
