<div id="work_page" ng-controller='ImageController' class="container-fluid">

	<div id="work_title" class="row" >
			<div id="btn_group" class="col-lg-4 col-md-12 col-xs-12">	
				
					<select ng-model="myDropDown" class="btn btn-info btn-lg " id="work_drop_down">
					        <option value="list">
					          	Select design
					        </option>
					        <option value="list">
					          	list
					        </option>
					        <option value="card">
					          	card
					        </option>
					</select>
					
				
					<div id="add_item_btn">

			 		<button class="btn btn-danger btn-lg" ng-click="add_item_btn()" >Add Item</button> 

			 		</div>
	 			
		 		<my-widget ng-show="isVisible"></my-widget> 
				<!-- PLZ remember this must be the format like this my-widget for custom directive -->	
			</div>

			<div id="work_filter_form" class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

				<form class="form-inline">

							<div class="form-group col-md-3 col-sm-3"><input type="text" placeholder='Name'  name="name" ng-model='filter_name' class="form-control"></div>
							<div class="form-group col-md-3 col-sm-3"><input type="text" placeholder='Author' name="author" ng-model='filter_author' class="form-control"></div>
							<div class="form-group col-md-3 col-sm-3" ><input type="text" placeholder='Like' name="like" ng-model='filter_like' class="form-control"></div>
							<div class="form-group col-md-3 col-sm-3"><input type="text" placeholder='Comment'  name="comment" ng-model='filter_comment' class="form-control"></div>
					
				</form>

			</div>
	</div>



		<div id="work_delete_item_body" ng-show="isdeleteVisible"></div>
		<div id="work_delete_item" ng-show="isdeleteVisible">
		
			<h2>Delete item?</h2>
			<p>This will permanently delete the item from the table and the action cannot be reversed. If you are sure, please comfirn with the appropriate action</p>
			<button class="btn btn-lg btn-danger" ng-click="Submit_delete()">Yes, I am sure</button>
			<button class="btn btn-lg btn-default" ng-click="Cancel_delete()">Cancel</button>
		</div>
	
	


	<div ng-show="myDropDown=='list'" >
		<table class='table table-hover'>
			<thead>
				<th ng-mouseover="reverse=true;order('title', reverse)">Name</th>
				<th ng-mouseover="reverse=!reverse;order('author', reverse)">author</a></th>
				<th ng-mouseover="reverse=!reverse;order('like',reverse)">Like</th>
				<th ng-mouseover="reverse=!reverse;order('comment',reverse)">Comment</th>
				<th>Modify</th>
				<th>Remove</th>
			</thead>
			<tbody>
				<tr ng-repeat="image in display_images | filter: filter_name |filter: filter_author | filter: filter_like |filter: filter_comment ">
					<!-- <td ng-bind='image.id'></td> -->
					<td ng-bind='image.title'></td>
					<td ng-bind='image.author'></td>
					<td ng-bind='image.like'></td>
					<td ng-bind='image.comment'></td>
					<!-- <td ng-bind='image.image'></td> -->
					<td><a ng-click='editImage(image)'>Edit</a></td>
					<td><a ng-click='removeImage($index)'>Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>	

	<my-widget ng-show="editpage"></my-widget>

	<div ng-show="myDropDown=='card'" id="drop_down_card">
		<div class="col-lg-4"  ng-repeat="image in display_images | filter: filter_name |filter: filter_author | filter: filter_like |filter: filter_comment |orderBy: 'id'">

			<div class="image_display">
				<div class="image"><img ng-src={{image.image}} class="image"></img></div>
				<!-- <td ng-bind='image.id'></td> -->
				<strong><div ng-bind='image.title'></div></strong>
				<div style="color:green"><div ng-bind='image.author'></div></div>
				<div ng-bind='image.like'></div>
				<div ng-bind='image.comment'></div>

				<div style="color:blue; float:right;">

					<a ng-click='editImage(image)'>Edit |</a>
					
					<a ng-click='removeImage($index)'>Delete</a>

				</div>

			</div>
		</div>
	</div>


	
</div>
