<div id="work_page" ng-controller='ImageController'>
	<my-widget ng-show="isVisible"></my-widget>
	<div class='container-fluid'>
	<div id="work_title">	
		    <select ng-model="myDropDown" class="btn btn-info btn-lg" style="float:left" id="work_drop_down">
		          <option value="list">
		          	Select design
		          </option>
		          <option value="list">
		          	list
		          </option>
		          <option value="card">
		          	card
		          </option>
		    </select>

			<div id="add_item_btn">

	 		<button class="btn btn-danger btn-lg" ng-click="add_item_btn()" >Add Item</button> 

	 		</div>

	 		 
 		

			<form class='form-inline' id="work_filter_form">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" placeholder='Name' class="form-control" name="name" ng-model='filter_name'>
						<input type="text" placeholder='Author' class="form-control" name="author" ng-model='filter_author'>
						<input type="text" placeholder='Like' class="form-control" name="like" ng-model='filter_like'>
						<input type="text" placeholder='Comment' class="form-control" name="comment" ng-model='filter_comment'>
					</div>
				</div>
			</form>
		<h3 ng-show="errors() == true" class='error'>Image already exists!</h3>


	</div>


		<div id="work_delete_item_body" ng-show="isdeleteVisible"></div>
		<div id="work_delete_item" ng-show="isdeleteVisible">
		
			<h2>Delete item?</h2>
			<p>This will permanently delete the item from the table and the action cannot be reversed. If you are sure, please comfirn with the appropriate action</p>
			<button class="btn btn-lg btn-danger" ng-click="Submit_delete()">Yes, I am sure</button>
			<button class="btn btn-lg btn-default" ng-click="Cancel_delete()">Cancel</button>
		</div>
	
	

	<div ng-show="myDropDown=='list'" >
		<table class='table table-hover'>
			<thead>
				<th>Name</th>
				<th>Author</th>
				<th>Like</th>
				<th>Comment</th>
				<th>Modify</th>
				<th>Remove</th>
			</thead>
			<tbody>
				<tr ng-repeat="image in display_images | filter: filter_name |filter: filter_author | filter: filter_like |filter: filter_comment |orderBy: 'id'">
					<!-- <td ng-bind='image.id'></td> -->
					<td ng-bind='image.title'></td>
					<td ng-bind='image.author'></td>
					<td ng-bind='image.like'></td>
					<td ng-bind='image.comment'></td>
					<!-- <td ng-bind='image.image'></td> -->
					<td><a ng-click='editImage(image)'>Edit</a></td>
					<td><a ng-click='removeImage($index)'>Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>	

	<my-widget ng-show="editpage"></my-widget>
	

	<div ng-show="myDropDown=='card'" style="float:left">

		<div class="col-lg-4"  ng-repeat="image in display_images | filter: filter_name |filter: filter_author | filter: filter_like |filter: filter_comment |orderBy: 'id'">
			<div class="image_display">
				<div class="image"><img ng-src={{image.image}} class="image"></img></div>
				<!-- <td ng-bind='image.id'></td> -->
				<strong><div ng-bind='image.title'></div></strong>
				<div style="color:green"><div ng-bind='image.author'></div></div>
				<div ng-bind='image.like'></div>
				<div ng-bind='image.comment'></div>

				<div style="color:blue; float:right;">

				<a ng-click='editImage(image)'>Edit |</a>
				
				<a ng-click='removeImage($index)'>Delete</a>
				</div>

			</div>
		</div>
	</div>


	</div>
</div>
