@media screen and (max-width: 767px) {
    #root_siderbar {
        text-align: center;
    }
    #root_siderbar ul {
        width: 100%;
    }
     #root_siderbar li a{
        width: 100%;
    }
    #root_siderbar li.active {
        width: 100%;
        border-bottom: 3px dotted #e65c00;
    }


}

@media screen and (min-width: 768px) {
    #root_siderbar {
        text-align: left;
       
    }
    #root_siderbar ul {
        width: 100%;
    }

    #root_siderbar li.active {
        border-left: 3px solid #e65c00;
    }
    
}

#root_siderbar {
    font-weight: bold;
    margin: 0px;
    font-size: 1.7em;
    margin-top: 20px;
    width: 20%;
    float: left;
}

#root_siderbar ul {
    list-style-type: none;
}

#root_siderbar ul li {
    text-decoration: none;
    vertical-align: middle;
    /*padding: 5px;*/
}

#root_siderbar ul li a {
    color: black;
}

#root_siderbar ul li span:first-child {
    font-size: 0.8em;
}

#root_siderbar ul li span {
    margin-right: 10px;
    margin-left: 10px;
}

#root_siderbar ul li:hover {
    color: #FEFEFE;
    background-color: #e65c00;
}

#root_siderbar ul li a {
    text-decoration: none;
}

#root_siderbar ul li:hover>a {
    color: #FEFEFE;
    text-decoration: none;
}

#root_content {
    margin: 0px;
    font-size: 1.3em;
    text-align: left;
    width: 80%;
    float: right;
    
}

#root_siderbar li.active>a {
    color: #FF5C33;

}
