@media screen and (max-width: 1050px) {
	#root_content {
		float: none;
		width: 100%;
	}
	#root_siderbar {
		float: none;
		width: 100%;
		text-align: center;
	}
	#root_siderbar ul {
		padding-left: 0px;
	}

	 #root_siderbar li.active {
        width: 100%;
        border-bottom: 3px dotted #e65c00;
    }

	#work_add_item{
		position: relative;
		top: 2px;
		left: 2px;
	}
}

@media screen and (max-width: 510px) {
    #main_body {
        width: 505px;
}
	
	#work_filter_form  {
		float: none;
		text-align: center;
	}
}







#work_page {
	text-align: left;
	margin-top: 20px;
}

#work_drop_down {
	background-color: #0075db;
	margin-right: 20px;
	float: left;
}


#add_item_body {
	position: fixed;

	top: 0.1px;
	left: 0.1px;
	z-index: 99;
	background-color: gray;
	opacity: 0.7;
	width: 100%;
	height: 100%;
}


#work_add_item {
	position: fixed;
	top: 30%;
	left: 35%;
	text-align: center;
	width: 600px;
	border-style: solid;
    border-width: 2px;
    border-radius:10px;
    z-index : 100;
    opacity: 1;
    background-color: white;

}

#work_filter_form {
	
	text-align: right;
	margin-right: 20px;

}

#drop_down_card {
	float: left;
}

#work_delete_item {
	position: fixed;
	text-align: center;
	width: 700px;
	border-style: solid;
    border-width: 2px;
    border-radius:10px;
    top: 10%;
    left: 35%;
    z-index : 2;
    opacity: 1;
    background-color: white;
    border:1px solid black;
    padding:5px;
}

#work_delete_item_body{
	position: fixed;
	top: 0.5px;
	left: 0.5px;
	z-index: 1;
	opacity: 0.7;
	background-color: gray;
	width: 100%;
	height: 100%;
}

#add_item_btn {
	float: left;
	margin-top: 2px;
}

#add_item_input div {
	margin: 15px;
}

#add_item_submit {
	float: left;
	margin: 10px;
	margin-left: 20px;

}

#add_item_cancel {
	float: left;
	margin: 10px;
	
}

.image_display{
	float:left;
}
.image{
	width:100%;
}

#work_title{
	width: 100%;
	
	
	
}
