#work_page{
	float:left;
}

#work_add_item {
	position: absolute;
	text-align: center;
	width: 600px;
	border-style: solid;
    border-width: 2px;
    border-radius:10px;
    margin-left: 400px;
    margin-top: 100px;
    z-index : 2;
    opacity: 1;
    background-color: white;
}

#add_item_btn {
	float: left;
	margin-left: 300px;
}

#add_item_input div {
	margin: 15px;
}

#add_item_submit {
	float: left;
	margin: 10px;
	margin-left: 20px;

}

#add_item_cancel {
	float: left;
	margin: 10px;
	
}

.image_display{
	border:2px solid black;
	float:left;
}
.image{
	width:100%;
}

#work_title{
	display:inline-block;
	border:1px solid black;
}
